{
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"svelteSortOrder": "scripts-markup-options-styles",
	"bracketSameLine": true,
	"semi": false,
	"htmlWhitespaceSensitivity": "ignore",
	"trailingComma": "all",
	"arrowParens": "always",
	"tailwindStylesheet": "./src/routes/layout.css"
}
