@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import 'tailwindcss';

@plugin 'daisyui' {
	themes:
		baroLight --default,
		baroDark --prefersdark;
	root: ':root';
	include:;
	exclude:;
	prefix:;
	logs: true;
}
:root {
	--font-sans: 'Google Sans', sans-serif;
	--font-serif: 'DM Serif Display', serif;
	--font-content: 'Google Sans', sans-serif;
	/* --root-bg: #222; */
	--scroll-bg: blue;
}
h1,
h2 {
	font-family: var(--font-serif);
}

@plugin 'daisyui/theme' {
	name: 'baroLight';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(97% 0 0);
	--color-base-300: oklch(92% 0 0);
	--color-base-content: oklch(20% 0 0);
	--color-primary: oklch(0.6437 0.2707 26.94);
	--color-primary-content: oklch(1 0 0);
	--color-secondary: oklch(75% 0.183 55.934);
	--color-secondary-content: oklch(40% 0.123 38.172);
	--color-accent: oklch(0% 0 0);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(37% 0.01 67.558);
	--color-neutral-content: oklch(92% 0.003 48.717);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(39% 0.09 240.876);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(70% 0.191 22.216);
	--color-error-content: oklch(39% 0.141 25.723);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@plugin 'daisyui/theme' {
	name: 'baroDark';
	default: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(20% 0 0);
	--color-base-200: oklch(30% 0 0);
	--color-base-300: oklch(40% 0 0);
	--color-base-content: oklch(97% 0.001 106.424);
	--color-primary: oklch(0.6437 0.2707 26.94);
	--color-primary-content: oklch(1 0 0);
	--color-secondary: oklch(75% 0.183 55.934);
	--color-secondary-content: oklch(40% 0.123 38.172);
	--color-accent: oklch(0% 0 0);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(37% 0.01 67.558);
	--color-neutral-content: oklch(92% 0.003 48.717);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(39% 0.09 240.876);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(70% 0.191 22.216);
	--color-error-content: oklch(39% 0.141 25.723);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
